python-telegram-bot[webhooks]==20.3
openai==0.27.8
langchain==0.0.342
pydub==0.25.1
loguru==0.7.2
click==8.1.3
aiofiles==23.1.0
langdetect==1.0.9

# for text to speech
google-cloud-texttospeech==2.14.2
